<div class="big-admin-container">
    <div class="admin-header-container">
        <fa-icon [icon]="faUserShield" class="admin-icon"></fa-icon>
        <span class="admin-text">Admin Panel</span>
    </div>
    <div class="admin-content-container">
        <div class="search-content-container">
            <div class="search-bar-container">
                <div class="search-bar">
                    <div class="search-icon-container">
                        <fa-icon [icon]="faMagnifyingGlass" class="admin-icon"></fa-icon>
                    </div>
                    <div class="input-search-container">
                        <input type="text" name="search" placeholder="Search"/>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="customer-card">
                    <div class="info-area">
                        <span class="number-area">1</span>
                        <div class="name-area">ERAY TEKİN</div>
                    </div>
                    <div class="all-buttons">
                        <button class="all-buy-button">Go to Buy Screen</button>
                        <button class="all-remove-button">Remove Customer</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>